# Auto detect text files and perform LF normalization
* text=auto
*.cs linguist-language=csharp
*.cpp linguist-language=C++
*.h linguist-language=C
*.rc linguist-language=Shell

The-Blow-Eagle-stealer/dependencies/curl/include/curl/*		linguist-vendored